# --- ANDROID & GRADLE ---
.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.hprof

# --- IDE (Android Studio, VS Code, IntelliJ) ---
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.vscode/
*.swp
*.bak
*.tmp

# --- SÉCURITÉ (TRÈS IMPORTANT) ---
*.jks
*.keystore
google-services.json
.env
.env.local
secrets.json
config.php

# --- SYSTÈME & POUBELLE ---
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
._*
$RECYCLE.BIN/

# --- LOGS & DÉVELOPPEMENT ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
.cache/

